<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>uMovies show ticket</title>
	</head>
	<body>
		<div>
			<img src={{banner}} alt={{title}} />
			<div>
				<h2>{{title}}</h2>
				<h3>{{date}} <br />{{startTime}}</h3>
				<table>
					<tbody>
						<tr>
							<td>Booking ID</td>
							<td> : </td>
							<td>{{bookingId}}</td>
						</tr>
						<tr>
							<td>Cinema</td>
							<td> : </td>
							<td>uMovies</td>
						</tr>
						<tr>
							<td>Screen</td>
							<td> : </td>
							<td>{{screenName}}</td>
						</tr>
						<tr>
							<td>Seats</td>
							<td> : </td>
							<td>{{seats}}</td>
						</tr>
						<tr>
							<td>Amount Paid</td>
							<td> : </td>
							<td>{{totalAmount}} INR</td>
						</tr>
					</tbody>
				</table>
				<p>
					Enjoy your show @uMovies
					<br />Also don't forgot to share your feedback
				</p>
			</div>
		</div>

	</body>
</html>